<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ru</string>
		<string>kk</string>
		<string>pl</string>
		<string>sv</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>TocoAce needs access to your microphone to transcribe interview questions in real-time.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>TocoAce uses speech recognition to convert your interview questions into text.</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2025 TocoAce. All rights reserved.</string>
</dict>
</plist>


